.whiteContainer{
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchContainer{
    margin: 5px;
    border: solid 1px black;
    width: 600px;
}

.errorLogGrid{
    height: calc(100% - 120px);
    width: 100%;
    margin-top: 5px;
}

.pageStyle{
    background: linear-gradient(to left, white, rgb(192, 206, 198), white, rgb(192, 206, 198), white, rgb(192, 206, 198), white, rgb(192, 206, 198), white);
    height: calc(100vh - 135px);
    margin-top: 2px;
}