.pop-up_size {
	// height: calc(100vh - 150px);
	width: calc(100vh - 20px)
}

.lowerDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2px;
}

.buttonStyle{
    display: flex;
    justify-content: center;
}