.paper-Style{
    border-top: 1px solid #9e9e9e;
    background: linear-gradient(to left, white, rgb(192, 206, 198), white, rgb(192, 206, 198), white, rgb(192, 206, 198), white, rgb(192, 206, 198), white);
    height: calc(100% - 5px);
    margin-top: 5px;
}

.sub-Tab{
    background: linear-gradient(to left, white, rgb(192, 206, 198), white, rgb(192, 206, 198), white, rgb(192, 206, 198), white, rgb(192, 206, 198), white);
}

.hrTag{
    margin-block-start: 0;
    margin-block-end: 0;
    border: 1px solid #c9d5ce;
}