.page-style{
    background: linear-gradient(to left, white, rgb(192, 206, 198), white, rgb(192, 206, 198), white, rgb(192, 206, 198), white, rgb(192, 206, 198), white);
    height: calc(100vh - 105px);
    margin-top: 5px;
}
.claimsGridStyle{
    height: calc(100% - 0px);
    width: 100%;
    margin-top: 2px;
}