.page_style_remits{
    background: linear-gradient(to left, white, rgb(192, 206, 198), white, rgb(192, 206, 198), white, rgb(192, 206, 198), white, rgb(192, 206, 198), white);
    height: calc(100% - 5px);
    margin-top: 5px;
}

.remitsTrackerGrid{
    height: 800px;
    width: 100%;
    margin-top: 2px;
}