.reportHeader{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}
.fileDetailStyle{
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
}
.details{
    width: 200px;
    font-size: small;
    font-weight: bold;
}
.tabStyle{
    color: aliceblue;
    min-height: 30px !important;
    .MuiTabs-centered {
        height: 30px;
        .MuiTab-root {
            height: 30px !important;
            min-height: 30px !important;
            padding: 0px !important;
        }
    }
}