.pageStyle{
    background: linear-gradient(to left, white, rgb(192, 206, 198), white, rgb(192, 206, 198), white, rgb(192, 206, 198), white, rgb(192, 206, 198), white);
    height: 800px;
    margin-top: 2px;
}

.whiteContainer{
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchContainer{
    margin: 5px;
    border: solid 1px black;
    width: 600px;
}

.deliveryLogGrid{
    height: calc(100% - 120px);
    width: 100%;
    margin-top: 5px;
}